<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h1>Users: </h1>
    <th:block th:each="user : ${usersList}">
        <p font->
            <span th:text="${user.getName()}"></span>
            <span th:text="${user.lastName}"></span>
            <span th:text="${user.age}"></span>
        </p>
    </th:block>

    <a href="/createDatabase">Create database Users</a>
</div>
</body>
</html>